.string-clip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-50 {
    border-radius: 50%;
}

.btn-12px {
    border-radius: 12px;
}

.btn-25px {
    border-radius: 25px;
}

btn {
    border-radius: 25px;
}

button {
    border-radius: 25px;
}

body {
    font-size: 1.3rem !important;
}

.my-font-size {
    font-size: 1.3rem !important;
}

input,label,select {
    font-size: 1.3rem !important;
    height: auto !important;
}

/* input .toggle-event, input .toggle,input .toggle-group {
    font-size: 1rem !important;
    height: auto !important;
} */

/* label .toggle-on {
    font-size: 1rem !important;
    height: auto !important;
}

label .toggle-off {
    font-size: 1rem !important;
    height: auto !important;
} */

@media (min-width: 375px) {

    /* iPhone */
    body {
        font-size: 1rem !important;
    }
    input,label,select {
        font-size: 1rem !important;
        height: auto !important;
    }
    .my-font-size {
        font-size: 1rem !important;
    }
        
    /* thead {
        font-size: 1rem;
    }

    tbody {
        font-size: 1rem;
    }

    tbody .text-body {
        font-size: 1rem;
    } */
}

@media (min-width: 414px) {

    /* iPhone */
    /* body {
        font-size: 1rem !important;
    }
    input,label,select {
        font-size: 1rem !important;
        height: auto !important;
    }
    .my-font-size {
        font-size: 1rem !important;
    } */
        
    /* thead {
        font-size: 1rem;
    }

    tbody {
        font-size: 1rem;
    }

    tbody .text-body {
        font-size: 1rem;
    } */
}

@media (min-width: 600px) {

    /* Huwei */
    body {
        font-size: 1rem !important;
    }
    .my-font-size {
        font-size: 1rem !important;
    }    
    input,label,select {
        font-size: 1rem !important;
        height: auto !important;
    }

}

@media (min-width: 736px) {

    /* iPhone */
    body {
        font-size: 1.2rem !important;
    }
    .my-font-size {
        font-size: 1.2rem !important;
    }    
    input,label,select {
        font-size: 1.2rem !important;
        height: auto !important;
    }
    input .toggle-event {
        font-size: 1rem !important;
        height: auto !important;
    }
}

@media (min-width: 960px) {

    /* Huwei */
    body {
        font-size: 1.3rem !important;
    }
    .my-font-size {
        font-size: 1.3rem !important;
    }    
    input,label,select {
        font-size: 1.3rem !important;
        height: auto !important;
    }
}

@media (min-width: 1024px) {

    /* iPad */
    body {
        font-size: 1.3rem !important;
    }
    .my-font-size {
        font-size: 1.3rem !important;
    }
    input,label,select {
        font-size: 1.3rem !important;
        height: auto !important;
    }
}