@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --header-background: #8fb8ca;
    --footer-background: #b5b5a9;
    --body-top: 0px;
    --body-bottom: 0px;
    --body-height: 0px;
    --iframeTable-width: 0px;
    --iframeTable-height: 0px;
    --iframeData-width: 0px;
    --iframeData-height: 0px;

    --4cols: 25% 25% 25% 25%;
    --5cols: 20% 20% 20% 20% 20%;
    --6cols: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    --8cols: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    --10cols: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.sarabun-thin {
    font-family: "Sarabun", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.sarabun-extralight {
    font-family: "Sarabun", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.sarabun-light {
    font-family: "Sarabun", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.sarabun-regular {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sarabun-medium {
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.sarabun-semibold {
    font-family: "Sarabun", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.sarabun-bold {
    font-family: "Sarabun", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.sarabun-extrabold {
    font-family: "Sarabun", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.sarabun-thin-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.sarabun-extralight-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.sarabun-light-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.sarabun-regular-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.sarabun-medium-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.sarabun-semibold-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.sarabun-bold-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.sarabun-extrabold-italic {
    font-family: "Sarabun", sans-serif;
    font-weight: 800;
    font-style: italic;
}

body,
html {
    height: 100%;
    /* font-family: 'Sarabun', cursive !important; */
    /* font-family: 'Mali', cursive !important; */
    font-size: 0.95rem !important;
    font-family: "Tangerine", sans-serif;
    font-family: "Sarabun", sans-serif;

    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.bg {
    background: #56baed;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    clip-path: polygon(0 0, 55% 0, 45% 100%, 0% 100%);
}

.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
    border-radius: 20px;
    font-weight: 500 !important;
    font-size: 1rem !important;
    height: auto !important;
}

.toggle.ios .toggle-handle {
    border-radius: 20px;
}

.toggle-on.btn {
    padding-right: 19px;
    font-weight: 700 !important;
    font-size: 1rem !important;
}

.btn {
    font-size: inherit !important;
}

.string-clip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-50 {
    border-radius: 50%;
}

.btn-12px {
    border-radius: 12px;
}

.btn-25px {
    border-radius: 25px;
}
/* 
.btn {
    border-radius: 25px;
} */

.button {
    border-radius: 25px;
}

button {
    border-radius: 25px;
}

/* .divGroup {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
}

@media (max-width: 414px) {
    .btnText {
        display: none;
    }
    .btnIcon {
        min-width: 20px;
        display: block;
    }
} */

.groupStatus {
    /* border: 2px solid black; */
    display: flex;
    display: inline-flex;
    justify-content: center;
    width: 70px;
    gap: 1px;
    .item {
        min-width: 16px;
        min-height: 16px;
        background-color: rgb(228, 228, 228);
        border: 1px solid black;
        border-radius: 5px;
    }
    .cancel {
        background: rgb(250, 8, 0);
    }
    .last {
        background: rgb(255, 240, 35);
    }
    .active {
        background: rgb(0, 255, 157);
    }
}

.groupBtnIcon {
    display: flex;
    display: inline-flex;
    /* flex-wrap: wrap; */
    width: 100%;
    gap: 10px;
    /* border: 2px solid black; */
    justify-content: space-around;
    .item {
        min-width: 20px;
    }
}

.btnIcon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btnIcon .hide {
    display: none;
}

@media (min-width: 414px) {
    .btnText {
        display: none;
    }
}

@media (min-width: 768px) {
    .btnText {
        display: block;
    }
}

/* 
@media (min-width: 415px) {
    .btnText {
        display: block;
    }
    .btnIcon {
        display: none;
    }
} */

.myTimeline {
    width: 90%;
    height: 20px;
    list-style: none;
    text-align: justify;
    position: relative;
    left: 50%;
    top: 5%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: -moz-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 45%,
        rgba(191, 128, 11, 1) 51%,
        rgba(255, 255, 255, 0) 57%,
        rgba(255, 255, 255, 0) 100%
    );
    /* background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(45%, rgba(255, 255, 255, 0)), color-stop(51%, rgba(191, 128, 11, 1)), color-stop(57%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0))); */
    background: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 45%,
        rgba(191, 128, 11, 1) 51%,
        rgba(255, 255, 255, 0) 57%,
        rgba(255, 255, 255, 0) 100%
    );
    background: -o-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 45%,
        rgba(191, 128, 11, 1) 51%,
        rgba(255, 255, 255, 0) 57%,
        rgba(255, 255, 255, 0) 100%
    );
    background: -ms-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 45%,
        rgba(191, 128, 11, 1) 51%,
        rgba(255, 255, 255, 0) 57%,
        rgba(255, 255, 255, 0) 100%
    );
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 45%,
        rgba(191, 128, 11, 1) 51%,
        rgba(255, 255, 255, 0) 57%,
        rgba(255, 255, 255, 0) 100%
    );
}

.myTimeline:after {
    display: inline-block;
    content: "";
    width: 100%;
}

.myTimeline li {
    display: inline-block;
    width: 20px;
    height: 20px;
    top: -5px;
    background: #f2bb13;
    text-align: center;
    line-height: 1.2;
    position: relative;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.myTimeline li:nth-child(1) {
    left: -40px;
}

.myTimeline li.active {
    background: green;
}

.myTimeline li.primary {
    background: rgb(2, 102, 252);
}

.myTimeline li.secondary {
    background: rgb(104, 104, 104);
}

.myTimeline li:before {
    display: inline-block;
    content: attr(data-text);
    font-size: 1rem;
    position: absolute;
    left: 50%;
    bottom: -25px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* style button */
.boxx {
    /* padding: 12px 26px; */
    border: 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    background-image: radial-gradient(
        50% 115% at 50% -5%,
        rgba(255, 255, 255, 0.11) 0%,
        transparent 100%
    );
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.boxx:focus:not(:focus-visible) {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.boxx:active,
.boxx:focus {
    background-image: radial-gradient(
        50% 115% at 50% -5%,
        rgba(255, 255, 255, 0.11) 0%,
        transparent 100%
    );
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.boxx:active:active {
    background-image: radial-gradient(
        50% 115% at 50% -5%,
        rgba(255, 255, 255, 0.11) 0%,
        transparent 100%
    );
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.boxx:not(:disabled):not(:disabled):active:focus {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.boxx:active {
    transform: scale(0.95);
}

/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: space-between;
}

.autocomplete-container {
    /* max-height: 200px; */
    position: relative;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    /* border: 1px solid #ccc;
    border-top: none; */
    border: none;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    z-index: 1000;
}

.suggestions-active {
    border: 2px solid #ccc;
    /* border-top: none; */
}

.suggestion-item {
    padding: 8px 12px;
    cursor: pointer;
}

.suggestion-item:hover,
.suggestion-item.active {
    background-color: rgb(122, 184, 247);
}

.inputStyle {
    width: 100%;
    padding: 8px 20px;
    border-radius: 15px;
}

.inputStyle:focus {
    border: none;
    border-radius: 15px;
}

.inputStyleFind {
    width: calc(100% - 50px);
}

.inputStyleIcon {
    background-image: url("../../assets/img/search22.png");
    background-image: url("../../assets/img/keyboard.jpg");
    background-size: 25px 20px;
    background-position: 8px 10px;
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
}

.btnSearch {
    background-image: url("../../assets/img/search22.png");
    background-position: 6px 8px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.btn-fa {
    width: 40px;
    height: 40px;
}

.string-clip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}